.register {
  width: 50vw;
  height: 100vh;
  margin-left: 340px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.registerForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
}

.registerBox {
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registerLabel {
  font-size: 14px;
  font-weight: 600;
  color: #00695c;
}

.registerInput {
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
  padding-left: 10px;
}

.registerInput:focus {
  outline: none;
  border-color: #00695c;
}

.registerButton {
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #00695c;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.registerButton:focus {
  outline: none;
}

.loginRedirectButton {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #004d40;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.loginRedirectButton:focus {
  outline: none;
}
@media (max-width: 768px) {
  .register {
    margin-left: 90px;
    margin-right: 10px;
    margin-bottom: 140px;
    margin-top: 80px;
  }
}