.topbarContainer {
    height: 70px;
    width: 100%;
    background-color: rgb(6, 46, 24);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0 20px;
}

.logoImg {
    height: 50px;/* Adjust based on your image size */
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
    cursor: pointer;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarLeft {
    flex: 1;
}

.topbarCenter {
    flex: 2;
}

.topbarRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.topbarIcons {
    display: flex;
    align-items: center;
}

.topbarIconItem {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    display: none;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.profileMenu {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.dropdownItem {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #363434;
    color: white;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .topbarIcons {
        display: none;
    }

    .topbarRight {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .topbarContainer {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .topbarRight {
        margin-top: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .topbarImg {
        width: 30px;
        height: 30px;
    }

    .dropdownMenu {
        top: 35px;
    }
}

@media (min-width: 769px) {
    .topbarIcons {
        display: flex;
    }
}