.center{
    flex: 8;
    padding: 0 15px;
    position: sticky;
}
.progress {
    color: white;
    size: 20px;
}
.edit-product-container {
    width: 70%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-product-container h2 {
    text-align: center;
}

.edit-product-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:teal /*#007bff*/;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(1, 114, 114);
}