.center {
    flex: 8;
    padding: 0 15px;
    position: sticky;
}
.header {
    display: flex;
    width: 100%;
}

.header h1 {
    padding: 0;
}

.header .search {
    width: 30%;
    margin-left: 600px;
    display: flex;
}

.searchInput {
    border: 1px solid black;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
}

.searchIcon {
    height: 35px;
}

.sidebarHr {
    margin: 7px;
}